body {
	margin: 0;
}

:root {
	--color-grey: #e5e5e5;
}

.grid {
	display: grid;
}

.logo-vnexpress {
	display: flex;
	justify-content: space-around;
	padding: 12px 0;
}

.flex {
	display: flex;
}

.show {
	display: block !important;
}

/* header {
	background-color: antiquewhite;
	height: 33px;
} */

nav {
	border-top: 1px solid var(--color-grey);
	border-bottom: 1px solid var(--color-grey);
}

.parent {
	font-family: "Lora";
	display: grid;
	grid-template-columns: repeat(23, 1fr);
	margin: 0 24px;
	padding: 0px;
	justify-items: center;
}

.parent li a {
	margin-right: 11px;
}

.main-nav .parent li {
	list-style-type: none;
	padding: 12px 0;
	/* margin-right: 12px; */
	/* position: relative; */
	white-space: nowrap;
}

svg {
	width: 20px;
	height: 20px;
}

a {
	text-decoration: none;
	font-size: 14px;
	color: inherit;
}

.dropdown-menu {
	display: none;
	position: absolute;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	left: 0;
	top: 101px;
	padding: 0;
	border-top: 1px solid red;
	background-color: aliceblue;
	padding: 10px 15px;
}

.dropdown-submenu {
	display: none;
	padding: 0 7px;
	position: absolute;
	top: 0;
	max-width: 400px;
	background-color: aquamarine;
}

.dropdown-submenu.left {
	left: 100%;
}
.dropdown-submenu.right {
	right: 100%;
}

.dropdown-submenu h3 {
	text-align: left;
	text-wrap: nowrap;
	padding-bottom: 1em;
}

.drop-down a {
	display: block;
	white-space: nowrap;
}

/* .parrent li a +  */

li:hover .drop-down {
	display: block;
}

li:hover #bar-level {
	color: red;
}

.sub-menu {
	display: none;
	background-color: aquamarine;
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 27px;
}

/* Caret */
.arrow {
	
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	/* transition: all 3s; */
}

.arrow-right {
	margin-left: 5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.arrow-left {
	margin-right: 5px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

@media (max-width: 1400px) {
	.parent li a {
		display: none;
	}

	.parent .home-button > a,
	.parent .toggle-button > a {
		display: block;
	}
}