@charset "UTF-8";
:root {
  --site-red: #dc2214;
  --site-yellow: #d5daa5;
  --site-white: #f5f5f5;
  --site-grey: #ccc;
  --phone-nav-width: 70vw;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
  z-index: -99;
}
body nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background: white;
}
body nav .hamburger-toggle {
  display: none;
}
body nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
}
body nav .logo img {
  filter: brightness(100%);
  max-width: 75%;
}
body nav .logo .mobile {
  display: none;
}
body nav .logo .desktop {
  display: flex;
}
body nav .logo .desktop .slogan {
  font-size: 1vw;
}
body nav .logo .desktop .slogan span {
  font-size: 0.7em;
  font-weight: 400;
}
body nav .menu {
  display: flex;
  background: white;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  /* Animation */
}
body nav .menu .nav-links {
  /* Correct selector */
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  /* using in-line block because <a> tag itself can't be transform */
  list-style: none;
  transform: translateX(1000px);
  /* Making this disappeared */
  animation: slideIn 1s forwards;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vw;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s;
}
body nav .menu .menu-items {
  display: flex;
  gap: 2vw;
}
body nav .menu .menu-items li .wrapper {
  /* z-index: -777; */
  display: none;
  position: absolute;
  /* top: 55px; */
  transform: translateY(-100%);
  left: 100px;
  right: 100px;
  /* background-color: aliceblue; */
  /* animation: slideDownSubs 0.3s ease-out forwards; */
  /* animation: slideDownSubs 0.5s ease-out forwards; */
  animation: slideDownSubs 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  /* Sub-Menu */
}
body nav .menu .menu-items li .wrapper .sub-menu {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
  list-style-type: none;
  text-transform: capitalize;
  /* z-index: -1; */
  padding: 35px 40px;
  border-top: 2px solid var(--site-red);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  justify-content: space-between;
  /* animation: slideDownSub 2s cubic-bezier(.39,-1.05,.58,1.95); */
  transform: translateY(-8px);
  /* transform: translateY(-500px); */
}
body nav .menu .menu-items li .wrapper .sub-menu.show {
  display: flex;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  flex-grow: 1;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col a {
  font-weight: bolder;
  width: 275px;
  border-bottom: 1px solid var(--site-grey);
  display: block;
  padding-block: 10px;
  border-radius: 0;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2vw;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col:hover a {
  color: red;
  /* Reset outer-scope */
  background-color: transparent;
  border-radius: 0;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li {
  list-style-type: none;
  padding-top: 15px;
  font-size: 1vw;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li .caption {
  display: block;
  font-size: 0.55em;
  color: grey;
  text-transform: none;
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li:hover {
  color: var(--site-red);
}
body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__picture img {
  max-width: 300px;
  max-height: 300px;
}
body nav .menu .menu-items li:hover .wrapper {
  display: block;
}
body nav .menu .menu--header {
  display: none;
}
body nav .menu .menu--register-box {
  display: none;
}
body nav .menu .already-registered {
  display: none;
}
body nav .menu .menu--language-switcher {
  display: none;
}
body nav .menu .menu--social-media {
  display: none;
}
body nav .menu .footer {
  display: none;
}

/* Nice Hover animation */
.menu-items li:hover .nav-links::before, .menu-items li:hover .nav-links::after {
  transform: scaleX(1);
}

.nav-links::before, .nav-links::after {
  background: var(--site-red);
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  /* hide the element for animation */
  transition: all 0.5s;
}
.nav-links::before {
  top: 0;
  transform-origin: left;
}
.nav-links::after {
  bottom: 0;
  transform-origin: right;
}

.content {
  overflow: hidden;
  position: relative;
  z-index: -12;
}
.content video {
  height: 100%;
  width: -webkit-fill-available;
}
.content::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to bottom, salmon, #000000);
  opacity: 0.4;
  mix-blend-mode: difference;
  z-index: 0;
}

/* Arrow things */
.arrow {
  display: none;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 0.2vw;
  margin-bottom: 2px;
  margin-left: 0.3em;
  transition: all 0.35s;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes slideDownSub {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideInTrophies {
  to {
    transform: translateX(-50%);
  }
}
@keyframes slightlyDownTrophies {
  to {
    top: 100%;
    transform: translateX(0) translateY(4px);
  }
}
@keyframes BlackenElement {
  to {
    filter: brightness(0);
  }
}
@keyframes slideDownSubs {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Hall of fame */
.hall-of-fame {
  position: absolute;
  display: flex;
  top: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  z-index: -11;
  padding: 8px;
  background-color: var(--site-yellow);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  animation: slideInTrophies 0.8s 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 1s;
}

.hall-of-fame div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-size: 1.4vw;
}

.hall-of-fame span {
  font-size: 1vw;
  display: none;
  font-weight: bold;
  transition: all 1.3s;
}

.hall-of-fame:hover span {
  display: block;
}

.hall-of-fame:hover {
  /* background-color: #f08c78; */
  background-color: #e5f078;
  cursor: pointer;
  /* animation: slightlyDownTrophies 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards; */
  /* transform: translateX(-50%) translateY(2px); */
  /* top: 100px */
  padding: 15px;
}

.hall-of-fame:hover img {
  width: 4vw;
  height: 4vw;
}

.hall-of-fame img {
  width: 3vw;
  height: 3vw;
  filter: gray saturate(0%) brightness(70%) contrast(100%) opacity(1);
}

@keyframes wipeUp {
  0% {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) translateY(-10%);
    /* Slightly overshoots the target */
    opacity: 0.7;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Sponsored */
.sponsored {
  position: relative;
  overflow: hidden;
  transform: translateX(1000px);
  /* Making this disappeared */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.75s 1.45s forwards;
  width: 8vw;
}
.sponsored img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  animation: BlackenElement 1.6s 2s forwards;
}

/* [ ] Add cursor chasing effect to desktop version */
/*=============================================
=            Responsive Version            =
=============================================*/
@media (max-width: 768px) {
  body {
    background: url("https://i.pinimg.com/564x/f2/4c/b0/f24cb0e45e62ad7bf2fb9f2871ebfc7c.jpg") no-repeat fixed;
    background-size: cover;
    position: static;
    transition: filter 0.3s ease;
    margin-block: 0px;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    height: inherit;
    opacity: 0.5;
  }
  body[data-blur=active]::before {
    opacity: 0.7;
    filter: none;
  }
  body nav {
    background-color: #701f19;
    overflow: visible;
    box-shadow: 20px 29px 45px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* [x] Sub-menu slide animation */
  }
  body nav .hamburger-toggle {
    display: flex;
    justify-content: space-around;
  }
  body nav .hamburger-toggle button {
    background-color: transparent;
    border: none;
  }
  body nav .hamburger-toggle button div {
    width: 4vw;
    height: 0.4vw;
    margin: 0.3em 0;
    background-color: var(--site-white);
  }
  body nav .logo img {
    max-width: 120%;
  }
  body nav .logo .desktop {
    display: none;
  }
  body nav .logo .slogan {
    display: none;
  }
  body nav .logo .mobile {
    display: block;
  }
  body nav .menu {
    display: none;
    background: var(--site-white);
    align-items: stretch;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    padding-inline: 20px;
    justify-content: space-between;
    gap: 40px;
    margin-block-start: 0px;
    width: var(--phone-nav-width);
  }
  body nav .menu .nav-links {
    display: flex;
    transform: translateX(0);
    animation: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }
  body nav .menu .menu--content {
    flex: 2 2 auto;
    overflow-y: auto;
    min-height: 0px;
  }
  body nav .menu .menu--content::-webkit-scrollbar {
    display: none;
  }
  body nav .menu .menu--header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--site-red);
    border-bottom: 1px solid rgb(160, 164, 168);
    background-color: var(--site-white);
    z-index: 999;
  }
  body nav .menu .menu--header p {
    display: block;
    font-family: "Noto Serif Display", serif;
    font-weight: 0;
    font-size: 6vh;
    margin-block: 3px;
  }
  body nav .menu .menu--header li {
    display: flex;
    flex-direction: column;
    max-width: 69vw;
    position: relative;
    /* border: 1px solid salmon; Temp */
  }
  body nav .menu .menu--header button {
    border: none;
    background-color: var(--site-white);
  }
  body nav .menu .menu--header button svg {
    color: var(--site-red);
    height: 1.7rem;
    width: 1.7rem;
  }
  body nav .menu .menu-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  body nav .menu .menu-items li .nav-links {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  body nav .menu .menu-items li .nav-links::before {
    top: 0;
    transform-origin: left;
  }
  body nav .menu .menu-items li .nav-links::after {
    bottom: 0;
    transform-origin: right;
  }
  body nav .menu .menu-items li .nav-links::before, body nav .menu .menu-items li .nav-links::after {
    content: "";
    /* background: orange; */
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.8s;
  }
  body nav .menu .menu-items li .wrapper .sub-menu {
    padding: 5px 2px;
    margin: 0;
    border: none;
    box-shadow: none;
    display: none;
    height: 0;
    transition: height 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__picture {
    display: none;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links {
    display: block;
    position: relative;
    max-width: 100%;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col {
    padding-left: 0;
    position: relative;
    left: -100%;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li {
    flex-direction: column;
    font-size: 0.7em;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li:first-of-type {
    /* Thành phần đầu của mỗi li */
    padding-top: 0;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col li:last-of-type {
    /* Tạo khoảng cách cho các li bên dưới */
    /* color: orange; */
    padding-bottom: 1em;
  }
  body nav .menu .menu-items li .wrapper .sub-menu .sub-menu__links .sub-menu__col a {
    /* [x] Fix: Border-top is being conflict with animation */
    padding: 0px;
    width: auto;
    font-size: 0.7em;
    border-radius: 0;
    border-bottom: 1.5px solid var(--site-grey);
  }
  body nav .menu .menu-items li.show {
    /* Alter sub-menu active animation */
  }
  body nav .menu .menu-items li.show .wrapper {
    padding-top: 0;
    display: block;
    position: relative;
    top: -3px;
    left: 0;
  }
  body nav .menu .menu-items li.show .wrapper .sub-menu {
    display: block;
    height: 100%;
  }
  body nav .menu .menu-items li.show .nav-links {
    color: #db1a5b;
    margin-bottom: 1rem;
  }
  body nav .menu .menu-items li.show .nav-links::before, body nav .menu .menu-items li.show .nav-links::after {
    content: "";
    background: var(--site-red);
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.8s;
    transform: scaleX(1);
  }
  body nav .menu .menu-items li.show .nav-links::before {
    top: 0;
    transform-origin: left;
  }
  body nav .menu .menu-items li.show .nav-links::after {
    bottom: 0;
    transform-origin: right;
  }
  body nav .menu .menu-items li.show .nav-links .arrow.down {
    transform: rotate(222deg);
    -webkit-transform: rotate(222deg);
  }
  body nav .menu .menu--register-box {
    display: block;
    background: var(--site-red);
    padding: 30px 15px;
    color: white;
    margin: 2px;
  }
  body nav .menu .menu--register-box h2 {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
  }
  body nav .menu .menu--register-box *:not(.arrow) {
    padding-bottom: 20px;
  }
  body nav .menu .menu--register-box button {
    padding: 20px 40px 20px 20px;
    background: black;
    text-transform: uppercase;
    color: var(--site-white);
  }
  body nav .menu .menu--register-box .arrow,
  body nav .menu .menu--register-box .right {
    border: solid #eee;
    border-width: 0 1px 1px 0;
    padding: 0.5vw;
  }
  body nav .menu .already-registered {
    display: flex;
    padding-block-end: 20px;
    border-bottom: 1px solid var(--site-grey);
    width: 95%;
  }
  body nav .menu .menu--language-switcher {
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--site-grey);
  }
  body nav .menu .menu--language-switcher img {
    width: 24px;
    height: 16px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body nav .menu .menu--language-switcher .arrow,
  body nav .menu .menu--language-switcher .right {
    border-width: 0 1px 1px 0;
    padding: 0.5vw;
  }
  body nav .menu .menu--language-switcher strong {
    margin-right: auto;
    margin-left: 10px;
  }
  body nav .menu .menu--social-media {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    list-style-type: none;
    padding-block: 20px;
  }
  @keyframes vibrantLogo {
    to {
      filter: grayscale(0) brightness(90%);
    }
  }
  body nav .menu .menu--social-media img {
    filter: grayscale(1);
    left: -1000px;
    position: relative;
    max-height: 75%;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(1) img {
    animation: in 0.45s 1.075s forwards, vibrantLogo 0.45s 2.075s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(2) img {
    animation: in 0.45s 1.2s forwards, vibrantLogo 0.45s 2.2s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(3) img {
    animation: in 0.45s 1.325s forwards, vibrantLogo 0.45s 2.325s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(4) img {
    animation: in 0.45s 1.45s forwards, vibrantLogo 0.45s 2.45s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(5) img {
    animation: in 0.45s 1.575s forwards, vibrantLogo 0.45s 2.575s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(6) img {
    animation: in 0.45s 1.7s forwards, vibrantLogo 0.45s 2.7s forwards;
  }
  body nav .menu .menu--social-media.action li:nth-of-type(7) img {
    animation: in 0.45s 1.825s forwards, vibrantLogo 0.45s 2.825s forwards;
  }
  body nav .menu .menu--social-media img:hover {
    filter: brightness(100%);
  }
  body nav .menu .footer {
    display: flex;
    /* width: 200px; */
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    gap: 20px;
    padding-bottom: 50px;
  }
  body nav .menu .footer a {
    text-decoration: none;
  }
  body nav .menu .footer li:first-child a {
    font-weight: bolder;
    padding-left: 0;
  }
  body nav .menu .footer li a {
    font-size: 0.7rem;
  }
  body nav .hall-of-fame {
    display: none;
  }
  @keyframes in {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  body nav ul.sub-menu__col:nth-of-type(1) {
    animation: in 0.45s 0.375s forwards;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.575s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  body nav ul.sub-menu__col:nth-of-type(2) {
    animation: in 0.45s 0.5s forwards;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.7s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  body nav ul.sub-menu__col:nth-of-type(3) {
    animation: in 0.45s 0.625s forwards;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.825s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .sponsored {
    animation: none;
    transform: translateX(0);
  }
  .sponsored img {
    animation: none;
    position: static;
  }
  video {
    display: none;
  }
  .content {
    background: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Panorama_of_Anfield_with_new_main_stand_%2829676137824%29.jpg");
    background-size: cover;
  }
  .arrow {
    display: inline-block;
  }
  .arrow.down {
    padding: 0.2rem;
  }
}/*# sourceMappingURL=style_compiler.css.map */