html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
	/* background-color: aliceblue; */
	display: grid;
	grid-template-columns: 2fr 5fr;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.logo {
	justify-self: center;
}

.menu {
	display: flex;
	/* background: lightsteelblue; */
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

.menu li a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;
}

/* Arrow things */
.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 2px;
	margin-left: 2px;
	transition: all 0.35s;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Sub-Menu */
.sub-menu {
	background-color: rgba(250, 128, 114, 0.479);
	position: absolute;
	/* padding: 241px 541px; Remove Later */

	padding: 20px 15px;
	top: 75px;
	left: 100px;
    right: 100px;
    border-top: 3px solid red;

	display: flex;
    justify-content: space-between;
}

.sub-menu__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}

.sub-menu ul {
	list-style-type: none;
	text-transform: capitalize;
}

.sub-menu__links > .sub-menu__col > a {
	font-weight: bolder;
    width: 275px;
    border-bottom: 2px solid black;
    display: block;
    padding-block: 10px;
}

.caption {
    display: block;
    font-size: .75em;
    color:grey;
    text-transform: none;
}

.sub-menu__links > .sub-menu__col > li {
    padding-top: 15px;
}
