:root {
	--site-red: #db1a5b;
	--site-yellow: #d5daa5;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	overflow-x: hidden;
}

.content {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
		url("https://upload.wikimedia.org/wikipedia/commons/0/02/Panorama_of_Anfield_with_new_main_stand_%2829676137824%29.jpg")
			center no-repeat;
	background-size: cover;
}

nav {
	/* background-color: aliceblue; */
	background: white;
	display: grid;
	grid-template-columns: 1fr 4fr;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 200;
}
.logo {
	display: flex;
	justify-self: center;
}

.logo span {
	display: block;
	/* position: absolute; */
	font-size: 0.7em;
	font-weight: 300;
}

.menu {
    display: flex;
    background: white;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    /* position: relative;
    z-index: 200; */
}

.menu li a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;

	padding: 10px;
	border-radius: 15px;

	transition: all 0.3s;
}

/* Nice Hover animation */
.menu li a.nav-links::before,
.menu li a.nav-links::after {
	background: var(--site-red);

	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transform: scaleX(0); /* hide the element for animation */
	transition: all 0.5s;
}

.menu li a.nav-links::before {
	top: 0;
	transform-origin: left;
}

.menu li a.nav-links::after {
	bottom: 0;
	transform-origin: right;
}

.menu li a.nav-links:hover::before,
.menu li a.nav-links:hover::after {
	transform: scaleX(1);
}

/* .menu li a:hover {
	background-color: var(--site-red);
	color: white;
	border-radius: 15px;
} */

/* Arrow things */
.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 2px;
	margin-left: 2px;
	transition: all 0.35s;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Sub-Menu */
.sub-menu {
	background-color: whitesmoke;
	/* position: absolute; */
	/* padding: 241px 541px; Remove Later */

	padding: 20px 15px;
	margin-top: 25px;
	display: flex;
	border-top: 2px solid var(--site-red);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	
	/* display: none; */
	justify-content: space-between;
	/* opacity: 20%; */
	animation: fadeInAnimation .4s cubic-bezier(.39,-1.05,.58,1.95);
	/* opacity: 0; */


}

.wrapper {
	z-index: 2;
	display: none;
	position: absolute;
	top: 55px;
	left: 100px;
	right: 100px;
	/* background-color: aliceblue; */
}

.sub-menu.show {
	display: flex;
}

.sub-menu__links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 40px;
	flex-grow: 1;
}

.wrapper ul {
	list-style-type: none;
	text-transform: capitalize;
}

.sub-menu__links > .sub-menu__col > a {
	font-weight: bolder;
	width: 275px;
	border-bottom: 1px solid #ccc;
	display: block;
	padding-block: 10px;
	border-radius: 0;
	padding: 10px 0;
}

.sub-menu__links > .sub-menu__col:hover a {
	color: red;
	/* Reset outer-scope */
	background-color: transparent;
	border-radius: 0;
	font-size: 0.9em;
}

.menu li:hover .wrapper {
	display: block;
}

.caption {
	display: block;
	font-size: 0.55em;
	color: grey;
	text-transform: none;
}

.sub-menu__links > .sub-menu__col > li {
	padding-top: 15px;
}

.sub-menu__col > li:hover {
	color: var(--site-red);
}

.sub-menu__picture img {
	max-width: 300px;
	max-height: 300px;
}

/* Animation */

.nav-links {
	/* Correct selector */
	/* background-color: aliceblue; */
	display: inline-block; /* using in-line block because <a> tag itself can't be transform */
	list-style: none;
	transform: translateX(1000px); /* Making this disappeared */
	animation: slideIn 1s forwards;
	color: black;
}

/* nav .menu li .wrapper {
	position: absolute;
	transform: translateX(-1000px);
	animation: none;
} */

/* .container > .nav-links:nth-of-type(1) { */

.menu li:nth-child(1) .nav-links {
	animation-delay: 0s;
}
.menu li:nth-child(2) .nav-links {
	animation-delay: calc(0.15 * 1s);
}
.menu li:nth-child(3) .nav-links {
	animation-delay: calc(0.15 * 2s);
}
.menu li:nth-child(4) .nav-links {
	animation-delay: calc(0.15 * 3s);
}
.menu li:nth-child(5) .nav-links {
	animation-delay: calc(0.15 * 4s);
}
.menu li:nth-child(6) .nav-links {
	animation-delay: calc(0.15 * 5s);
}

@keyframes slideIn {
	from {
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInTrophies {
	from {
	}
	to {
		transform: translateX(-50%) translateY(2px);
	}
}

@keyframes slightlyDownTrophies {
	from {

	}
	to {
		transform: translateX(0) translateY(4px);
	}
}

/* Hall of fame */
.hall-of-fame {
	position: absolute;
	display: flex;
	top: 80px;
	/* transform: translateY(30px); */
	z-index: 1;
	padding: 8px;
	/* background-color: rgb(181, 227, 42); */
	background-color: var(--site-yellow);
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	font-weight: bold;
	
	left: 50%;
	/* opacity: 0; */
	/* transform: translateX(-100%); */
	
	transform: translateX(-50%) translateY(-55px);
	animation: slideInTrophies 0.8s 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: padding .5s;
}

.hall-of-fame div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
}

.hall-of-fame span {
	font-size: .6em;
	display: none;
	font-weight: bold;
	transition: all 1.3s;
}

.hall-of-fame:hover span{
	display: block;
	
}

.hall-of-fame:hover {
	/* background-color: #f08c78; */
	background-color: #e5f078;
	cursor: pointer;
	/* animation: slightlyDownTrophies 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards; */
	/* transform: translateX(-50%) translateY(2px); */
	/* top: 100px */
	padding: 30px 15px;
}

.hall-of-fame img {
	width: 40px;
	height: 40px;
	filter: gray saturate(0%) brightness(70%) contrast(100%) opacity(1);
}

@keyframes wipeUp {
	0% {
		transform: translateX(-50%) translateY(100%);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%) translateY(-10%); /* Slightly overshoots the target */
		opacity: 0.7;
	}
	100% {
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

