:root {
    --site-red: #db1a5b;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
	/* background-color: aliceblue; */
	display: grid;
	grid-template-columns: 2fr 5fr;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
	justify-self: center;
}

.logo span {
    display: block;
    /* position: absolute; */
    font-size: .7em;
    font-weight: 300;
}

.menu {
	display: flex;
	/* background: lightsteelblue; */
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

.menu li a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;
    
    padding: 10px;
    border-radius: 15px;
    
    transition: all .3s;
}

.menu li a:hover {
    background-color: var(--site-red);
    color: white;
    border-radius: 15px;
}

/* Arrow things */
.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 2px;
	margin-left: 2px;
	transition: all 0.35s;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Sub-Menu */
.sub-menu {
	/* background-color: rgba(250, 128, 114, 0.479); */
	position: absolute;
	/* padding: 241px 541px; Remove Later */

	padding: 20px 15px;
	top: 94px;
	left: 100px;
    right: 100px;
    border-top: 2px solid var(--site-red);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

	display: none;
    justify-content: space-between;
}

.sub-menu.show {
	display: flex;
}

.sub-menu__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
	flex-grow: 1;
}

.sub-menu ul {
	list-style-type: none;
	text-transform: capitalize;
}

.sub-menu__links > .sub-menu__col > a {
    font-weight: bolder;
    width: 275px;
    border-bottom: 1px solid #ccc;
    display: block;
    padding-block: 10px;
    border-radius: 0;
    padding: 10px 0;
}

.sub-menu__links > .sub-menu__col:hover a {
    color: red;
    /* Reset outer-scope */
    background-color: transparent;
    border-radius: 0;
    font-size: .9em;
}

.caption {
    display: block;
    font-size: .55em;
    color:grey;
    text-transform: none;
}

.sub-menu__links > .sub-menu__col > li {
    padding-top: 15px;
}

.sub-menu__col > li:hover {
    color: var(--site-red);
}

.sub-menu__picutre img {
	width: 400px;
	height: 400px;
}
