:root {
	--site-red: #db1a5b;
	--site-yellow: #d5daa5;
	--site-white: #f5f5f5;
	--site-grey: #ccc;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	overflow-x: hidden;
	position: relative;
	z-index: -99;
}

#video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.content video {
	min-height: 100%;
	min-width: 100%;
}

.content::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;

	background-color: var(--site-red);
	background-image: linear-gradient(to bottom, salmon, #000000);
	opacity: 0.4;
	mix-blend-mode: difference;
	z-index: 0;
}

.content {
	position: relative;
	z-index: -12;
}

nav {
	/* background-color: aliceblue; */
	background: white;
	display: grid;
	grid-template-columns: 2fr 7fr 1fr;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	/* z-index: 200; */
}
.logo {
	display: flex;
	justify-self: center;
	align-items: center;
}

.logo > .mobile {
	display: none;
}

.logo span {
	display: block;
	/* position: absolute; */
	font-size: 0.7em;
	font-weight: 300;
}

.logo h2 {
	font-size: 2vw;
}

.logo h2 span {
	text-transform: capitalize;
	font-size: 0.7vw;
}

.menu {
	display: flex;
	background: white;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	/* position: relative;
    z-index: 200; */
}

.menu li a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1vw;
	text-decoration: none;

	padding: 10px;
	border-radius: 15px;

	transition: all 0.3s;
}

/* Nice Hover animation */
a.nav-links::before,
a.nav-links::after {
	background: var(--site-red);

	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transform: scaleX(0); /* hide the element for animation */
	transition: all 0.5s;
}

.menu li a.nav-links::before {
	top: 0;
	transform-origin: left;
}

.menu li a.nav-links::after {
	bottom: 0;
	transform-origin: right;
}

.menu li a.nav-links:hover::before,
.menu li a.nav-links:hover::after {
	transform: scaleX(1);
}

/* .menu li a:hover {
	background-color: var(--site-red);
	color: white;
	border-radius: 15px;
} */

/* Arrow things */
.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 0.2vw;
	margin-bottom: 2px;
	margin-left: 0.3em;
	transition: all 0.35s;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Sub-Menu */
.sub-menu {
	background-color: whitesmoke;
	/* position: absolute; */
	/* padding: 241px 541px; Remove Later */

	position: relative;
	/* z-index: -1; */
	padding: 20px 15px;
	margin-top: 28px;
	display: flex;
	border-top: 2px solid var(--site-red);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

	justify-content: space-between;
	/* animation: slideDownSub 2s cubic-bezier(.39,-1.05,.58,1.95); */

	transform: translateY(-8px);

	/* transform: translateY(-500px); */
}

@keyframes slideDownSub {
	from {
		transform: translateY(-500px);
	}

	to {
		transform: translateY(0);
	}
}

.wrapper[aria-hidden="true"] {
	/* z-index: -777; */
	display: none;
	position: fixed;
	/* top: 55px; */
	transform: translateY(-100%);
	left: 100px;
	right: 100px;
	/* background-color: aliceblue; */

	/* animation: slideDownSubs 0.3s ease-out forwards; */
	/* animation: slideDownSubs 0.5s ease-out forwards; */
	animation: slideDownSubs 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.sub-menu.show {
	display: flex;
}

.sub-menu__links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 40px;
	flex-grow: 1;
}

.wrapper ul {
	list-style-type: none;
	text-transform: capitalize;
}

.sub-menu__links > .sub-menu__col > a {
	font-weight: bolder;
	width: 275px;
	border-bottom: 1px solid var(--site-grey);
	display: block;
	padding-block: 10px;
	border-radius: 0;
	padding: 10px 0;
}

.sub-menu__links > .sub-menu__col:hover a {
	color: red;
	/* Reset outer-scope */
	background-color: transparent;
	border-radius: 0;
	font-size: 0.9em;
}

.menu li:hover .wrapper {
	display: block;
}

.caption {
	display: block;
	font-size: 0.55em;
	color: grey;
	text-transform: none;
}

.sub-menu__links > .sub-menu__col > li {
	padding-top: 15px;
}

.sub-menu__col > li:hover {
	color: var(--site-red);
}

.sub-menu__picture img {
	max-width: 300px;
	max-height: 300px;
}

/* Animation */

.nav-links {
	/* Correct selector */
	/* background-color: aliceblue; */
	display: inline-block; /* using in-line block because <a> tag itself can't be transform */
	list-style: none;
	transform: translateX(1000px); /* Making this disappeared */
	animation: slideIn 1s forwards;
	color: black;
}
.menu li:nth-child(1) .nav-links {
	animation-delay: 0s;
}
.menu li:nth-child(2) .nav-links {
	animation-delay: calc(0.15 * 1s);
}
.menu li:nth-child(3) .nav-links {
	animation-delay: calc(0.15 * 2s);
}
.menu li:nth-child(4) .nav-links {
	animation-delay: calc(0.15 * 3s);
}
.menu li:nth-child(5) .nav-links {
	animation-delay: calc(0.15 * 4s);
}
.menu li:nth-child(6) .nav-links {
	animation-delay: calc(0.15 * 5s);
}

@keyframes slideIn {
	from {
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInTrophies {
	from {
	}
	to {
		transform: translateX(-50%) translateY(2px);
	}
}

@keyframes slightlyDownTrophies {
	from {
	}
	to {
		transform: translateX(0) translateY(4px);
	}
}

@keyframes BlackenElement {
	from {
	}
	to {
		filter: brightness(0);
	}
}

@keyframes slideDownSubs {
	0% {
		transform: translateY(-60px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
/* Hall of fame */
.hall-of-fame {
	position: absolute;
	display: flex;
	top: 98%;
	min-width: max-content;
	z-index: -11;
	padding: 8px;
	background-color: var(--site-yellow);
	align-items: center;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;
	left: 50%;
	transform: translateX(-50%) translateY(-55px);
	animation: slideInTrophies 0.8s 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	transition: all 1s;
}

.hall-of-fame div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;

	font-size: 1.4vw;
}

.hall-of-fame span {
	font-size: 1vw;
	display: none;
	font-weight: bold;
	transition: all 1.3s;
}

.hall-of-fame:hover span {
	display: block;
}

.hall-of-fame:hover {
	/* background-color: #f08c78; */
	background-color: #e5f078;
	cursor: pointer;
	/* animation: slightlyDownTrophies 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards; */
	/* transform: translateX(-50%) translateY(2px); */
	/* top: 100px */
	padding: 15px;
}

.hall-of-fame:hover img {
	width: 4vw;
	height: 4vw;
}

.hall-of-fame img {
	width: 3vw;
	height: 3vw;
	filter: gray saturate(0%) brightness(70%) contrast(100%) opacity(1);
}

@keyframes wipeUp {
	0% {
		transform: translateX(-50%) translateY(100%);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%) translateY(-10%); /* Slightly overshoots the target */
		opacity: 0.7;
	}
	100% {
		transform: translateX(-50%) translateY(0);
		opacity: 1;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Sponsored */
.sponsored {
	width: 100%;
	position: relative;
	overflow: hidden;
	transform: translateX(1000px); /* Making this disappeared */
	display: flex;
	justify-content: center;
	animation: slideIn 0.75s 1.45s forwards;
}

.sponsored img {
	height: 100%;
	object-fit: scale-down;
	position: absolute;
	animation: BlackenElement 1.6s 2.75s forwards;
}

/*=============================================
=            Responsive Version            =
=============================================*/

@media (max-width: 768px) {
	.content {
		display: none;
	}
}

@media (max-width: 425px) {
	body {
		background-color: #000000;
	}

	.logo h2 {
		display: none;
	}

	.logo > .mobile {
		display: block;
		font-family: "Noto Serif Display", serif;
		font-weight: 800;
		font-size: 6vh;
	}

	video {
		display: none;
	}
	.content {
		background: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Panorama_of_Anfield_with_new_main_stand_%2829676137824%29.jpg");
		background-size: cover;
	}
	.arrow.down {
		padding: 0.2rem;
	}

	.menu {
		background: var(--site-white);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		z-index: 999;
		height: 100vh;
		padding-left: 20px;
	}

	.menu li a {
		font-size: 1.2rem;
	}
	.menu .nav-links {
		transform: translateX(0);
		animation: none;
	}

	.hall-of-fame {
		display: none;
	}

	nav {
		box-shadow: none;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.sponsored {
		animation: none;
		transform: translateX(0);
		height: 125%;
	}

	.sponsored img {
		top: -4px;
	}

	.mobile.menu--header {
		width: 100%;
		height: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: var(--site-red);
		border-bottom: 1px solid rgb(160, 164, 168);
	}

	.mobile.menu--header p {
		display: block;
		font-family: "Noto Serif Display", serif;
		font-weight: 800;
		font-size: 6vh;
	}

	.mobile.menu-items li {
		display: flex;
		flex-direction: column;

		max-width: 69vw;
		/* margin-bottom: 2rem; */

		position: relative;
		/* border: 1px solid salmon; Temp */
	}

	.nav-links {
		width: 250px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.wrapper[aria-hidden="true"] {
		display: none;
	}

	.wrapper[aria-hidden="true"] > .sub-menu {
		display: none;
	}

	.mobile .sub-menu {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
		/* background: var(--site-grey); */
		/* border: 2px solid lightcyan; Temp */
	}
	.mobile .sub-menu__picture {
		display: none;
	}

	.mobile .sub-menu__links {
		display: block;
		position: relative;
		max-width: 100%;
	}

	.mobile .sub-menu__links > .sub-menu__col {
		padding-left: 0;
	}

	.mobile .sub-menu__links > .sub-menu__col > li {
		flex-direction: column;
	}

	.mobile .sub-menu__links > .sub-menu__col > a {
		border-bottom: none;
		border-top: 1px solid var(--site-red);
		font-size: 0.8em;
		color: black;
		padding-bottom: 0px;
		width: 100%;
	}

	.mobile .sub-menu__links > .sub-menu__col > li {
		font-size: 0.7em;
	}

	.mobile .sub-menu__links > .sub-menu__col > li:first-of-type {
		/* Thành phần đầu của mỗi li */
		/* color: red; */
		padding-top: 0;
	}

	.mobile .sub-menu__links > .sub-menu__col > li:last-of-type {
		/* Tạo khoảng cách cho các li bên dưới */
		/* color: orange; */
		/* padding-bottom: 3em; */
	}

	.mobile .sub-menu__links .sub-menu__col:first-child {
		/* border-top: none; */
	}

	.mobile
		.sub-menu__links
		> .sub-menu__col:hover
		> .sub-menu__col:first-child
		a {
		color: red;
	}

	/* Test ARIA */
	.mobile.menu-items .wrapper[aria-expanded="true"] {
		padding-top: 0;
	}

	.menu li .wrapper.show[aria-expanded="true"] {
		display: block;
		position: relative;
		top: -3px;
		left: 0;
		padding: 10px;
		/* left: -266px; */
	}

	.menu li .wrapper.show[aria-expanded="true"].sub-menu {
		display: block;
	}

	/* Alter sub-menu active animation */

	.menu li a.nav-links::before,
	.menu li a.nav-links::after {
		content: "";

		background: orange;
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		transform: scaleX(0); /* hide the element for animation */
		transition: all 0.5s;
	}
}
