:root {
	--dark: rgb(62, 92, 115);
	--black: #123;
    --white: rgb(255, 255, 255);
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
    min-height: 200vh;

	background-color: var(--black);
	margin: 0;
	font-size: 1.25rem;
	color: white;

	display: grid;
	grid-template-columns: 15rem 1fr;
    gap: 2rem;

    
}

.head {
    height: 120px;
    padding: 30px;
}

nav {
    position: sticky;
    top: 0;
    max-height: 100svh;
    background: var(--white);
}

nav .head {
    background: var(--white);
    color: var(--dark);
    
    
}

.nav__menu {
    /* background-color: red; */
    margin: 10px;
    border-top: 1px solid #cfcece;
}

.nav-list {
    display: grid;
    gap: 10px 10px;
    /* padding-block: 2rem; */
    /* font-size: 2rem; */

    margin: 0;
    list-style: none;
}

.nav-list li {
    
    padding: 1rem .3rem;
    margin-left: 23px;
    position: relative;
    border-radius: 8px;
}

.nav__list-title:hover{
    background: #f6f6f6;
    /* padding: 12px 8px; */
}

.nav__menu-title {
    padding: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
}



.nav-list li {
    list-style: none;
    margin-bottom: 5px;
}

.nav-list li a {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    /* padding: 12px 8px; */
    border-radius: 8px;
    transition: all .3s;
}

.nav-list > li:hover > a {
    /* background: antiquewhite; */
    padding: 12px 8px;
}

.nav__list-text {
    flex-grow: 1;
}

/* Main document */
main{
    padding: 30px
}