*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 13px;
}
a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
#menu{
    width: 1140px;
    height: 40px;
    margin: 100px auto;
    background: #ff9600;
}
.menu-item{
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-right: 1px solid #ff6600;
}
#menu > ul > .menu-item{
    position: relative;
}
.sub-menu{
    position: absolute;
    width: 500px;
    height: auto;
    background: grey;
    top: 40px;
    left: 0;
    display: none;
}
.menu-item:hover{
    cursor: pointer;
    background: #ff6600;
}
#menu > ul > .menu-item:hover > .sub-menu{
    display: block;
}
.sub-menu ul{
    position: absolute;
    top: 0;
    width: 250px;
    height: auto;
    background: #ff9600;
}
.sub-menu ul .menu-item{
    float: none;
    border: none;
}
.sub-menu ul > .menu-item > ul{
    left: 250px;
    display: none;
}
.sub-menu ul > .menu-item:hover > ul{
    display: block;
}
